.background {
    height: 100%;
    margin: 0;
    background-image: url('../../Images\ and\ Videos//DogsPaw.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment:fixed;
    position: relative;
}

.image {
    z-index: -1;
    height: 100%;
    margin: 0;

}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}