.background {
    background-image: url('../../Images\ and\ Videos//DogSleeping.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px -12px;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    /* text-decoration: none !important; */
}

.container {
    position: relative;
    height: 700px;
    width: 800px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.container div {
    margin: 30px;
}