.Background {
    background-image: url('../../Images\ and\ Videos//DogSleeping.jpg');
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0px -12px;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

.Container {
    position: relative;
    height: 700px;
    width: 800px;
    background: rgba(55, 44, 35, 0.35);
    /* filter:grayscale(50%); */
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px 10px rgb(42, 37, 32);
}

.Container h1 {
    text-shadow: 0px 0px 8px rgb(217, 190, 155);
}

.Container div {
    margin: 30px;
}

.Card {
    height: 600px;
    width: 450px;
    background: rgba(87, 70, 56, 0.504);
    border-radius: 22px;
    box-shadow: 0px 0px 30px 5px rgb(42, 37, 32);
}

.Footer {
    width: 100%;
    position: absolute;
    bottom: 3px;
}

.Header {
    position: absolute;
    width: 100%;
    top:0px
}