.Main {
  height: 66px;
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  background: rgba(5, 5, 5, 0.4);
  backdrop-filter: blur(3px);
}

.Create {
    position: absolute;
    left: 150px;

}


.SearchBar {
    position: absolute;
    right: 100px;
}

.Button {
  right: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family:'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  height: 40px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  box-shadow: 1px 3px 10px 0.06px white;
}

.Button:hover,
.Button:focus {
  box-shadow: 0px 0px 15px 1px white;
  height: 42px;
  width: 101%;
}

.ButtonColor {
  color: black;
}
